/* HTML: <div class="loader"></div> */
.loader {
  width: 65px;
  aspect-ratio: 1;
  --g: url('/public/tennis-ball.svg') no-repeat;
  background: var(--g), var(--g), var(--g);
  background-size: 30px 30px;
  animation: l10 1.5s infinite;
  margin: auto auto;
}
@keyframes l10 {
  0% {
    background-position:
      0 0,
      0 100%,
      100% 100%;
  }
  25% {
    background-position:
      100% 0,
      0 100%,
      100% 100%;
  }
  50% {
    background-position:
      100% 0,
      0 0,
      100% 100%;
  }
  75% {
    background-position:
      100% 0,
      0 0,
      0 100%;
  }
  100% {
    background-position:
      100% 100%,
      0 0,
      0 100%;
  }
}
